/* -------------------------------QUICKSAND: */

@font-face {
  font-family: f-bold;
  src: url(./quicksand/static/Quicksand-Bold.ttf);
}

@font-face {
  font-family: f-light;
  src: url(./quicksand/static/Quicksand-Light.ttf);
}

@font-face {
  font-family: f-medium;
  src: url(./quicksand/static/Quicksand-Medium.ttf);
}

@font-face {
  font-family: f-regular;
  src: url(./quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
  font-family: f-semibold;
  src: url(./quicksand/static/Quicksand-SemiBold.ttf);
}
