/* -------------------------------QUICKSAND: */

@font-face {
  font-family: f-bold;
  src: url(./quicksand/static/Quicksand-Bold.ttf);
}

@font-face {
  font-family: f-light;
  src: url(./quicksand/static/Quicksand-Light.ttf);
}

@font-face {
  font-family: f-medium;
  src: url(./quicksand/static/Quicksand-Medium.ttf);
}

@font-face {
  font-family: f-regular;
  src: url(./quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
  font-family: f-semibold;
  src: url(./quicksand/static/Quicksand-SemiBold.ttf);
}

/* -------------------------------D-DIN: */

@font-face {
  font-family: din-bold;
  src: url(./d-din/D-DIN-Bold.otf);
}

@font-face {
  font-family: din-italic;
  src: url(./d-din/D-DIN-Italic.otf);
}

@font-face {
  font-family: din-din;
  src: url(./d-din/D-DIN.otf);
}

@font-face {
  font-family: din-condensed-bold;
  src: url(./d-din/D-DINCondensed-Bold.otf);
}

@font-face {
  font-family: din-condensed;
  src: url(./d-din/D-DINCondensed.otf);
}

@font-face {
  font-family: din-exp;
  src: url(./d-din/D-DINExp-Bold.otf);
}

@font-face {
  font-family: din-exp-italic;
  src: url(./d-din/D-DINExp-Italic.otf);
}

@font-face {
  font-family: din-exp-bold;
  src: url(./d-din/D-DINExp.otf);
}
