:root {
  --focus-border: rgba(42, 43, 29, 0.4);;
  --separator-border: transparent;
}

.sash-horizontal::before{
  border-top: 1px dotted #2e2e2e;
  border-bottom: 1px dotted #2e2e2e;
}

.sash-vertical::before{
  border: 1px dotted #2e2e2e;
  background: rgba(42, 43, 29, 0.2);
}

/* 585858 */