:root {
  --focus-border: #616161;;
  --separator-border: transparent;
}

.sash-horizontal::before{
  border-top: 1px solid #3D3D3D;
  border-bottom: 1px solid #3D3D3D;
}

.sash-vertical::before{
  border: 1px dotted #3D3D3D;
  background: #3D3D3D;
}

.sash-horizontal::before{
  border: 1px solid #3D3D3D;
  background: #3D3D3D;
}
